<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="message">
      <h2 data-cy="messageDetailsHeading"><span jhiTranslate="myApp.message.detail.title">Message</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myApp.message.id">Id</span></dt>
        <dd>
          <span>{{ message.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.message.mxCell">Mx Cell</span></dt>
        <dd>
          <div *ngIf="message.mxCell">
            <a [routerLink]="['/mx-cell', message.mxCell?.id, 'view']">{{ message.mxCell?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/message', message.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
