<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="gateway">
      <h2 data-cy="gatewayDetailsHeading"><span jhiTranslate="myApp.gateway.detail.title">Gateway</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myApp.gateway.id">Id</span></dt>
        <dd>
          <span>{{ gateway.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.gateway.mxCell">Mx Cell</span></dt>
        <dd>
          <div *ngIf="gateway.mxCell">
            <a [routerLink]="['/mx-cell', gateway.mxCell?.id, 'view']">{{ gateway.mxCell?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/gateway', gateway.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
