<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="mxCell">
      <h2 data-cy="mxCellDetailsHeading"><span jhiTranslate="myCellEntityApp.mxCell.detail.title">Mx Cell</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myCellEntityApp.mxCell.id">Id</span></dt>
        <dd>
          <span>{{ mxCell.id }}</span>
        </dd>
        <dt><span jhiTranslate="myCellEntityApp.mxCell.lg">Lg</span></dt>
        <dd>
          <span>{{ mxCell.lg }}</span>
        </dd>
        <dt><span jhiTranslate="myCellEntityApp.mxCell.style">Style</span></dt>
        <dd>
          <span>{{ mxCell.style }}</span>
        </dd>
        <dt><span jhiTranslate="myCellEntityApp.mxCell.value">Value</span></dt>
        <dd>
          <span>{{ mxCell.value }}</span>
        </dd>
        <dt><span jhiTranslate="myCellEntityApp.mxCell.parent">Parent</span></dt>
        <dd>
          <span>{{ mxCell.parent }}</span>
        </dd>
        <dt><span jhiTranslate="myCellEntityApp.mxCell.source">Source</span></dt>
        <dd>
          <span>{{ mxCell.source }}</span>
        </dd>
        <dt><span jhiTranslate="myCellEntityApp.mxCell.target">Target</span></dt>
        <dd>
          <span>{{ mxCell.target }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mx-cell', mxCell.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
